* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

header {
    position: sticky;
    height: 8vh;
    width: 100%;
    background: linear-gradient(to right, #C898DF, #552974);
    box-shadow: 0 1vh 5vh 1vh #00000010;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
}

.header-logo {
    z-index: 1;
    height: 6vh;
    margin-top: 0vh;
    margin-left: 3vh;
    display: flex;
}

.navigation {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    gap: 3rem;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5vh;
    padding: 1vh;
    transition: transform 0.25s;
}

.navigation a.contact {
    background-color: white;
    padding-top: .1vh;
    padding-bottom: .1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    color: black;
    font-weight: 700;
    border-radius: 5vh;
}
.navigation a:hover {
    transform: scale(1.2);
}

/* ===================================================HOME=================================================== */


 .home-section{
    height: 100vh;
 }
 .intro-box-1{
    height: 100%;
    width: 70%;
    border-color: rgba(0, 0, 0, 0.404); 
    border-style: solid;
    border-width: 0.1vh;
    color: white;
    display: flex;
    align-items: center;
 }
 .intro-box-2{  
    width: 100%;
    margin-left: 15vh;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .name{
    font-size: 1.5rem;
 }
 .occupation{
    width: 60%;
    font-size: 3rem;
    font-weight: 800;
    line-height: 3rem;
 }
 .intro-desc{
    width: 50%;
    font-size: 1rem;
    word-spacing: .5rem;
 }
 .intro-box-2 a{
    width: 7rem;
    text-decoration: none;
    background-color: #373339;
    padding: .15rem;
    border-radius: .5rem;
    color: rgb(255, 255, 255);
    letter-spacing: .2rem;
    font-weight: 600;
    font-size: .8rem;
    transition: transform 0.25s;
    box-shadow: 0vh 2vh 5vh rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
 }
 .intro-box-2 a:hover{
    transform: scale(1.2);
 }
 .home-container{
    height: 70%;
    /* border-color: rgba(0, 0, 0, 0.404); 
    border-style: solid;
    border-width: 0.1vh; */
    background: linear-gradient(to right, #C898DF, #552974);
 }

 /* ===================================================ABOUT=================================================== */

 .about-container{
    height: 30%;
    background-color: #373339;
    box-shadow: 0vh -1vh 10vh 5vh #0000007d;
    padding: 2rem;
    color: white;
}

.about-title {
    width: 15rem;
    display: inline-block;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0.4rem 1rem;
    font-size: 2rem;
    position: relative;
    top: -4rem;
    left: 5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
}
.about-desc-box{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.about-desc{
    width: 80%;
    margin-top: 1vh;
    font-size: .8rem;
}

/* ===================================================INTEREST=================================================== */

 .interest-section{
    height: 100vh;
    background-color: #373339;
 }

/* ===================================================responsive=================================================== */

@media  {
    
}